PORT=5000
DATABASE_URL="postgresql://postgres:password@localhost:5432/fathom_marine?schema=public"
JWT_SECRET="fathom_marine_super_secret_jwt_key_2024"
JWT_EXPIRES_IN="7d"
NODE_ENV=development
CLIENT_URL="http://localhost:5173"
